---
layout: default
title: Programs
cards:
 - heading: mentoring
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatibus quis aliquid alias, impedit doloribus rem fugiat odit error? 
   featured_image: /images/AnnMarie-12.jpg
 - image: bg-journal
   heading: action
   description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium suscipit aliquam recusandae magnam distinctio qui officia,
   featured_image: /images/journalportrait.jpg
 - image: bg-phone-text
   heading: accountability
   description: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae vel vero architecto. Possimus nobis ipsa earum!
   featured_image: /images/AnnMarie-13.jpg
coaching:
 - heading: are you easily distracted?
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quae rem iure veniam sunt est commodi. Dolores eveniet facilis consequuntur necessitatibus.
 - heading: have trouble getting started?
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque amet veritatis debitis labore quaerat sint, beatae nulla iusto saepe facere reprehenderit quod ipsum eligendi at.
 - heading: are you easily overwhelmed?
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque amet veritatis debitis labore quaerat sint, beatae nulla iusto saepe facere reprehenderit quod ipsum eligendi at. Soluta distinctio obcaecati nam?
 - heading: do you need direction?
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque doloremque amet veritatis debitis labore quaerat sint, 
---

{% include header-nav.html %}

<!------ Main Banner ------->
  
<section class="header-banner padded grid tall-80 bg-annmarie5 ">   
        <div class="col-12-middle right">
            <h1 class="main-header-name orange-text">Coaching for<br><span class="featured-text">  ADHD Entrepreneurs  </span>  <h1>  
              <!-----
            </span> for <br> ADHD <span class="featured-text "> </span>Entrepreneurs </
            <<h2 class="main-header-text">What is coaching?</h2>> -->
            
        </div>
</section> 

<!---- What is Coaching? Cards-->

<section class="grid padded">
  <div class="col-12 center margin-b">
    <h2 class="orange-text big-text text-shadow">What is Coaching!?</h2>
  </div>
  {% for item in page.cards %}
  <div class="col-4 padded-1">
    <div class="card">
      <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
        <div class="padded-1">
          <h3 class="featured-text center">{{item.heading}}</h3>
          <p>{{item.description}}</p>
        </div>
    </div>
  </div>
  {% endfor %}
 
</section>

<!----Text Grid ------>

<section class="padded grid-center bg-featured">
  <div class="padded-sm margin-b col-12 center editable">
      <h2 class="big-text text-shadow"> IS COACHING FOR ME!? </h2>
  </div>

  {% for item in page.coaching %}
  <div class="padded-sm col-3 editable">
    <h3> {{item.heading}} </h3>
      <p class="editable">
          {{item.description}}
      </p>
  </div>
  {% endfor %}

</section>

<!------ Call to action Banner ------->
<section class="padded center bg-image bg-workspace tall-50 grid fixed">
  <div class="col-12-middle">
  <a href="/contact.html" class="coaching-buton"> OKAY, I'M READY TO MAKE A CHANGE!</a>
  </div>  
</section>



<!------ ABU ------->
<section class="padded center grid">
  <div class="col-12 bg-image bg-abu  tall-50"> </div>
  <div class="col-12-middle padded-1 padded-t">
  <h2 class="featured-text big-text">First Global Business University for <span class="orange-text"> ADHD Entrepreneurs </span></h2>
  </div>
    <div class="padded col-6">
        <p class="left editable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eligendi nulla accusantium alias sequi provident nisi maxime inventore, sed dolorem doloribus incidunt iste voluptatibus recusandae voluptate! Ad nam perspiciatis officia!
        </p>
        <p class="left editable">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eligendi nulla accusantium alias sequi provident nisi maxime inventore, sed dolorem doloribus incidunt iste voluptatibus recusandae voluptate! Ad nam perspiciatis officia!
      </p>
    </div>
    <div class="padded col-6">
        <p class="left editable">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eligendi nulla accusantium alias sequi provident nisi maxime inventore, sed dolorem doloribus incidunt iste voluptatibus recusandae voluptate! Ad nam perspiciatis officia!
        </p>
        <p class="left editable">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eligendi nulla accusantium alias sequi provident nisi maxime inventore, sed dolorem doloribus incidunt iste voluptatibus recusandae voluptate! Ad nam perspiciatis officia!
         </p>
    </div>
</section>

<!------ Testimonial Banner  *** Add Slick slider and have them be rotating------->
<section class="padded grid">
  <div class="col-1 left">
      <span class="quote-icon"> “</span>
  </div>
  <div class="col-10 center">
      <p class="testimonial-text font-weight-light editable">
          AnnMarie really helped me get clarity about how I wanted to run my business. She helped me get to the core of who I wanted to serve as a coach. It is well worth the investment in myself. If you get the chance to work with AnnMarie, you should take it!
      </p>
      <p class="subtitle"> - Kel </p>
  </div>
  <div class="col-1 right">
      <span class="quote-icon">”</span>
  </div>
</section>

<!------ how to work with me------->

<section class="grid">
  <div class="padded col-6-middle">
      <h2>How it<span class="featured-text"> works</span></h2>
      <p class="editable">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo voluptates aliquid unde, mollitia quisquam reiciendis enim totam repellat eaque error harum dolorum expedita nisi consequatur tempora et voluptas qui eius!
      </p>
  </div>
  <div class="bg-image bg-journal col-6 tall-70">
      <!--image-->
  </div>
  <div class="bg-image bg-annmarie9 col-6 tall-70">
      <!--image-->
  </div>
  <div class="padded col-6-middle">
      <h2> working with <span class="featured-text"> me</span>.</h2>
      <p class="editable">
          Lorem ipsum dolor sitconsectetur adipisicing elit. Nemo voluptates aliquid unde, mollitia quisquam reiciendis enim totam repellat eaque error harum dolorum expedita nisi consequatur tempora et voluptas qui eius!
      </p>
  </div>
</section>

<!------ Instagram Feed ------->
<section class="padded center bg-sand tall-60 grid">
    <div class="col-12-middle">
    <h3 class="big-text">
    Placeholder for Insta Feed
    </h3>
    </div>  
</section>