<!------ Footer ------->

<footer class="grid bg-footer dark-text">
    <!-- column -->
    <div class="col-5_sm-12 padded">
        <h2 class="sm-padded-0 5">AnnMarie Espina </h2>  
      <p>  Discover the power of ADHD to grow your business -- You can BE, DO and HAVE whatever you want in this life...
        You just need the right skills to get you there.
          </p>
    </div>
    <div class="col-1 sm-hidden"></div>
    <!-- column -->
    <div class="col-6_sm-12-middle padded right ">
      <nav class="inline">
        <a href="/contact.html"> contact </a>|
        <a href="/programs.html"> programs </a>|
        <a href="/products.html"> products </a>
        <br>
        <a href="/podcast.html"> podcast </a> |
        <a href="/resources.html"> resources </a>|
        <a href="https://www.annmarieespina.com/products/adhd-business-university-abu"> login</a>
      </nav>

      <nav class="inline socials">
        <a href="#">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
          <i class="fa-brands fa-spotify"></i>
        </a>
        <a>
        <i class="fa-solid fa-podcast"></i>
        </a>
      </nav>
    </div>

    <div class=" padded-sm col-12-middle center
copyright">
      <p class="tiny-text"> Copyright 2022 </p>
    </div>

</footer>
