
<!---- Header Nav-->

<div class="center">
    <a href="/index.html">
      <img src="/images/Logo.png">
    </a>
</div>
    <nav class="hide-sm"> 
        <a href="/ABU.html" class="padded-1"> ABU </a>    
        <a href="/programs.html" class="padded-1"> Programs </a>
        <a href="/products.html" class="padded-1"> Products </a>
        <a href="/podcast.html" class="padded-1"> Podcast </a>
        <a href="/about.html" class="padded-1"> About </a>
        <a href="/resources.html" class="padded-1"> Resources </a>
        <a href="https://www.annmarieespina.com/products/adhd-business-university-abu" class="padded-2"> Student Login </a>
    </nav>

<div class= "center show-sm">
    <div class="hamburger-button">
            <i class="fas fa-bars"></i>
    </div>
</div>
    
<nav class="mobile-menu bg-dark center padded">     
        <a href="/ABU.html"> ABU </a>    
        <a href="/programs.html"> Programs </a>
        <a href="/products.html"> Products </a>
        <a href="/podcast.html"> Podcast </a>
        <a href="/about.html"> About </a>
        <a href="/resources.html"> Resources </a>
        <a href="https://www.annmarieespina.com/products/adhd-business-university-abu"> Student Login </a>
        <a href ="/contact.html"> Contact</a>
</nav>

